
@{
    ViewBag.Title = "LEGOHome";
}
<link href="~/Content/HomePage.css" rel="stylesheet" type="text/css" />

<div class="Navigation-Buttons">
    <div class="ButtonNav">
        @Html.ActionLink("LEGO Bricks", "ShowLEGOBricksList", "LEGO")
    </div>
    <div class="ButtonNav">
        @Html.ActionLink("LEGO Sets", "ShowLEGOSetsList", "LEGO")
    </div>
</div>

