body
{
}

.lists {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.LEGOSets {
    width: 50%;
}

.LEGOBricks {
    width: 50%;
}

.LEGOBrickContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.BrickInfo {
    width: 20%;
}

.ButtonContainer {
    width: 5%;
}

.LEGOSetContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.SetInfo {
    width: 20%;
}


