body {
}

.pageInfo {
    text-align: center;
}

.LEGOSet {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.baseData {
    width: 20%;
}

.brickLinksList {
    width: 200px;
    height: 200px;
}